@import url("https://fonts.googleapis.com/css?family=Montserrat:900");

:root {
    --c1: rgb(37.409033877038894, 33.91091593475533, 8.659974905897114);
    --c2: rgb(101.87586206896552, 82.06436781609196, 10.735632183908047);
    --c3: rgb(6.067759078830823, 15.555358724534987, 12.204162976085032);
    --c4: rgb(42.76600985221675, 174.89408866995075, 149.13546798029557);
    --c5: rgb(147.71782178217822, 115.21782178217822, 9.623762376237623);
    --c55: rgba(148, 116, 10, 0.183);
    --c6: rgb(15.763124199743919, 66.70486555697823, 54.88028169014085);
    --c7: rgb(19.191163976210706, 117.50382327952421, 98.20645709430757);
    --c75: rgba(19, 118, 98, 0.296);
    --c8: rgb(67.43333333333334, 55.142857142857146, 8.417460317460318);
}

.homepage {
    padding-top:2dvh;
    display: inline-block;
    text-align: center;
    align-content: center;
    position: absolute;
    width: 100dvw;
    height:100dvh;
    margin-top: 4%;
}

.garden {
    
    margin-top:10dvh;
    min-width:90dvw;
    height:16dvw;
    padding:0;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 16dvw;
    letter-spacing: 2dvw;
    position: relative;
    align-content: center;
    /* transform: translateX(-50%); */
    color: white;
    background: url("https://i.pinimg.com/736x/cf/f3/c5/cff3c5aad5ac183b4d4aa927dc1f9cb1.jpg");
    /* background: url("https://thumbs.dreamstime.com/b/tropical-flower-pattern-seamless-flowers-blossom-flowers-nature-background-vector-illustration-61142748.jpg");
    background:url('https://i.pinimg.com/originals/9f/9c/c5/9f9cc5217bb04790e5fb852b665ca2ff.jpg'); */
    background-size: auto 200%;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 20s linear infinite;
}

@keyframes shine {
    from {
        background-position: center 0;
    }
    to {
        background-position: center 200%;
    }
}

.num {

    text-align: center;
    display: inline-block;
    align-content: center;
    vertical-align: middle;
    /* margin-top: -3%; */
    margin-bottom: 7dvh;
    font-family: "Montserrat", ;
    font-size: 10dvw;
    font-style: italic;
    letter-spacing: 4dvw;
    /* position: relative; */
    color: var(--c6);
}

.garden > *:nth-child(1):hover {
    transform: scale(1.1);
}

.navbar {
    justify-content: space-between;
    height: auto;
    min-width: 100dvw;
    padding-bottom: 5dvh;
}

.nav-item {
    /* display: flex; */
    justify-content: space-between;
    padding: 0dvh;
    /* height: 20dvh; */
    color: var(--c6);
    font-size: 100%;
}

.nav-item.inn:hover {
    transform: scale(1.2);
    
}


