.availability-container {
    padding-top:2dvh;
    display: inline-block;
    text-align: center;
    align-content: center;
    position: absolute;
    width: 100dvw;
    height:100dvh;
    margin-top: 4%;
}