

.react-calendar { 
display: inline-block;
    text-align: center;
    width: 80dvw;
    max-width: 95dvw;
    color: #222;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    /* font-family: Arial, Helvetica, sans-serif; */
    line-height: 1.125em;
    background-color: rgba(68, 184, 112, 0.089)
   }

   .react-calendar__tile {
    height: 3rem;
    background-color: rgba(250, 128, 114, 0.253);
    border: solid 1px rgba(245, 245, 245, 0.411);
    border-radius: 15%;
   }
   .react-calendar__navigation button {
    display: inline-box;
    border-radius: 3rem;
    color: #6f48eb;
    min-width: 44px;
    background: none;
    font-size: 20px;
    margin:2px;
    margin-top: 8px;
    margin-bottom: 8px;
   }
   .react-calendar__navigation button:enabled:hover,
   .react-calendar__navigation button:enabled:focus {
    background-color: rgba(0, 128, 128, 0.226);
   }
   .react-calendar__navigation button[disabled] {
    background-color: #f0f0f085;
   }
   abbr[title] {
    text-decoration: none;
   }
   /* .react-calendar__month-view__days__day--weekend {
    color: #d10000;
   } */
   .react-calendar__tile:enabled:hover,
   .react-calendar__tile:enabled:focus {
    background: var(--v5);
    color: #6f48eb;
    border-radius: 6px;
   }
   .react-calendar__tile--now {
    background: var(--c7);
    border-radius: 6px;
    font-weight: bold;
    color: whitesmoke;
   }
   .react-calendar__tile--now:enabled:hover,
   .react-calendar__tile--now:enabled:focus {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #6f48eb;
   }
   .react-calendar__tile--hasActive:enabled:hover,
   .react-calendar__tile--hasActive:enabled:focus {
    /* background: var(--c1); */
   }
   .react-calendar__tile--active {
    background:var(--c7);
    border-radius: 6px;
    font-weight: bold;
    color: whitesmoke;
   }
   .react-calendar__tile--active:enabled:hover,
   .react-calendar__tile--active:enabled:focus {
    background: #6f48eb;
    color: white;
   }
   .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #f8f8fa;
   }
   .react-calendar__tile--range {
    background: #f8f8fa;
    color: #6f48eb;
    border-radius: 0;
   }
   .react-calendar__tile--rangeStart {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #6f48eb;
    color: white;
   }
   .react-calendar__tile--rangeEnd {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #6f48eb;
    color: white;
   }