:root {
    --c1: rgb(37.409033877038894, 33.91091593475533, 8.659974905897114);
    --c2: rgb(101.87586206896552, 82.06436781609196, 10.735632183908047);
    --c3: rgb(6.067759078830823, 15.555358724534987, 12.204162976085032);
    --c4: rgb(42.76600985221675, 174.89408866995075, 149.13546798029557);
    --c5: rgb(147.71782178217822, 115.21782178217822, 9.623762376237623);
    --c55: rgba(148, 116, 10, 0.183);
    --c6: rgb(15.763124199743919, 66.70486555697823, 54.88028169014085);
    --c7: rgb(19.191163976210706, 117.50382327952421, 98.20645709430757);
    --c75: rgba(19, 118, 98, 0.296);
    --c8: rgb(67.43333333333334, 55.142857142857146, 8.417460317460318);
}

.navbar {
    justify-content: space-between;
    height: 10dvh;
    width: 80%;
    display: inline-block;
    position: relative;
    align-items: center;
    vertical-align: top;
    text-align: center;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.nav-item {
    font-size: 1.1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-style: bold;
    margin-left: 5%;
    margin-right: 5%;
    /* padding-left: 10%; */
    /* height: 20dvh; */
    color: var(--c1)
}

.nav-item:hover {
    transform: scale(1.2);
    
}