



.event-block {
    width:80%;
    min-height: 10vh;
    /* position: relative; */
    border: solid 1px;
    border-color: black;
    align-items: center;
    text-align:center;
    margin: 1rem;
    border-radius: .75rem;
    background-color: whitesmoke;
}

.event-blocks-container {
    position: relative;
    width: 99vw;
    margin: 5vh;
}

.date-block, .price-block, .type-block, .host-block, .contract-block, .notes-block, .delete-block, .add-block {
    display: table-cell;
    position: relative;
    /* border: solid 1px; */
    height: 10vh;
    overflow: hidden;
    text-align: center;
    vertical-align: middle
    

}

li {
    list-style: none;
    text-align: left;
    margin-left: 2vw;
}

.date-block, .price-block, .type-block, .contract-block {
    min-width: 7vw;
}

.spacer1 {
    min-width: 2vw;
}

.hidden {
    display: none;
}

.delete-block, .add-block {
    min-width: 3vw;
}


.host-block, .notes-block {
    width: 30vw;
}

.trash-icon, .add-icon {
    width: 1rem;
}

.add-new-text {
    text-align: center;
}


.trash-icon:hover, .add-icon:hover {
    transform: scale(1.5);
    animation-timing-function: linear;   
    cursor: pointer;
    color: salmon;
  }

.add-icon:hover {
    transform: scale(1.5);
    animation-timing-function: linear;   
    cursor: pointer;
    color: lime;
  }

  .date-block {
    background-color: salmon;
    border-top-left-radius: .7rem;
    border-bottom-left-radius: .7rem;

  }
  


