.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    width: 20vw;
}

.access-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
}

input {
    width: 10vw;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
}

button {
    display: block;
    width: 100%;
    padding: 0.5rem;
    background-color: rgb(42, 42, 41);
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 15vw;
}

button:hover {
    background-color: #0069d9;
}

button:active {
    transform: scale(0.98);
}

.GoogleAccess {
    margin-top: 1rem;
}
